 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>When I was 7 years old my dream job was to grow up and become a super hero with magical powers, much like a wizard (e.g. Pug from "The Magician"). As I grew older, the pressures of reality kicked in and the dream to become a wizard began to fade away.</p>
                </div>  
                <div class="col-lg-4">
                    <p>Then I heard a quote from Arthur C Clark, "any sufficiently advanced technology should be indistinguishable from magic". After hearing this, I was reinspired to continue chasing my dreams and thus the technology consultant (wizard) journey begun.</p>
                </div>             
            </div>
        </div>
    </section>
